<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mm5 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mm5.presentation.Mm5ModelWizardID"
            name="%_UI_Mm5ModelWizard_label"
            class="mm5.presentation.Mm5ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Mm5ModelFile.gif">
         <description>%_UI_Mm5ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mm5 -->
      <editor
            id="mm5.presentation.Mm5EditorID"
            name="%_UI_Mm5Editor_label"
            icon="icons/full/obj16/Mm5ModelFile.gif"
            extensions="mm5"
            class="mm5.presentation.Mm5Editor"
            contributorClass="mm5.presentation.Mm5ActionBarContributor">
      </editor>
   </extension>

</plugin>
